@inherits LayoutComponentBase
@namespace CertiPurge.Layout

<div class="h-20 pt-4 pl-4 flex gap-4 items-center absolute">
	<img src="/assets/Icon.svg" class="h-full" />
	<h1 class="text-3xl font-bold">CertiPurge</h1>
</div>
<div class="w-screen h-screen m-0 p-0 flex bg-neutral-100">

	<article class="w-full flex justify-center items-center">
		@Body
	</article>
</div>