@page "/add"
@using CertiPurge.Data
@using OCR;
@using Tesseract
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject ApplicationDbContext DbContext

<PageTitle>Add Record</PageTitle>

<div class="upload-section">
	<InputFile OnChange="@SingleUpload" />
</div>

@if (IsProcessing)
{
	<div class="progress-modal">
		<div class="progress-content">
			<h2>Processing...</h2>
			<p>Please wait while we process your documents.</p>
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>
}


@code {
	public class FileData
	{
		public string Name { get; set; } = "";
		public string Data { get; set; } = "";
		public long Size { get; set; }
		public string Type { get; set; } = "";
	}

	public bool IsProcessing { get; set; } = false;

	public void Scan(string[] pages)
	{
		foreach (var page in pages)
		{
			string name = "";
			string course = "";
			string grade = "";
			string centrenum = "";
			string candidate = "";

			if (page.Split("\n")[0].Trim().Contains("AQA"))
			{
				AQAReader.ReadAQA(page, out name, out course, out grade, out centrenum, out candidate);
				Certificate cert = new Certificate
				{
					Name = name,
					Course = course,
					Grade = grade,
					CentreNumber = centrenum,
					CandidateNumber = candidate,
					ExamBoard = "AQA",
					ULN = "" // Set this to the appropriate value if available
				};

				DbContext.Certificates.Add(cert);
			}
			else if (page.Split("\n")[0].Trim().Contains("BTEC"))
			{
				Console.WriteLine("Detected BTEC format.");
				BTECReader.ReadBTEC(page, out name, out course, out grade, out centrenum, out candidate);
				Certificate cert = new Certificate
				{
					Name = name,
					Course = course,
					Grade = grade,
					CentreNumber = centrenum,
					CandidateNumber = candidate,
					ExamBoard = "BTEC",
					ULN = "" // Set this to the appropriate value if available
				};

				DbContext.Certificates.Add(cert);
			}
		}

		DbContext.SaveChanges();
	}

	public async Task SingleUpload(InputFileChangeEventArgs e)
	{
		IsProcessing = true;

		StateHasChanged();

		Console.WriteLine($"File selected: {e.File.Name}, {e.File.Size} bytes, {e.File.ContentType}");

		MemoryStream ms = new MemoryStream();
		await e.File.OpenReadStream().CopyToAsync(ms);
		var bytes = ms.ToArray();

		var pages = await Converter.ConvertPDFToText(bytes);

		Console.WriteLine($"Scanned {pages.Length} pages.");

		Scan(pages.ToArray());

		IsProcessing = false;

		StateHasChanged();
	}
}